/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the overall layout */
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu-bar {
    flex: 0 0 10%; /* Don't grow or shrink, fixed width */
    background-color: black;
    min-height: 100vh;
}

.wrapper {
    flex: 1; /* Take the remaining width */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Fill available space */
    background-color: lightgray;
    padding: 20px; /* Add some padding for content */
}

.hidden-page {
    position: fixed; /*Use fixed positioning for the sliding effect*/
    top: 100vh;
    left: 10;
    width: 90%;
    height: 100vh;
    display: hidden;
    background-color: white; /* Set the background color of the new page */
    transition: top 0.5s; /* Apply a smooth transition */
}

.footer {
    position: fixed;
    left: 10%;
    bottom: 0;
    background-color: darkgray;
    height: 40px; /* Keep the fixed height for the music bar */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    transition: bottom 0.5s; /* Apply a smooth transition */
}

.queue_icon {
    height: 16px;
    width: 16px;
}