/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the overall layout */
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu-bar {
    flex: 0 0 10%; /* Don't grow or shrink, fixed width */
    background-color: black;
    min-height: 100vh;
}

.wrapper {
    flex: 1; /* Take the remaining width */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Fill available space */
    background-color: lightgray;
    padding: 20px; /* Add some padding for content */
}

.footer {
    background-color: darkgray;
    flex: 0 0 40px; /* Fixed height for the music bar */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px; /* Add padding for styling */
}

.queue_icon {
    height: 16px;
    width: 16px;
    margin-left: 10px; /* Add some spacing between icon and content */
}