/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the overall layout */
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu-bar {
    flex: 0 0 10%; /* Don't grow or shrink, fixed width */
    background-color: black;
    min-height: 100vh;
}

.wrapper {
    flex: 1; /* Take the remaining width */
    display: flex;
    flex-direction: column;
}

.playback-queue-content {
    display: flex;
    flex-direction: column-reverse; /* Stack suggestions from the bottom */
    align-items: center;
    flex: 1; /* Fill available space */
    background-color: lightgray;
    padding: 20px; /* Add some padding for content */
    overflow-y: scroll;
}

.hidden-song-page {
    position: fixed; /*Use fixed positioning for the sliding effect*/
    top: 100vh;
    left: 10;
    width: 90%;
    height: 100vh;
    display: hidden;
    background-color: lightblue; /* Set the background color of the new page */
    transition: top 0.5s; /* Apply a smooth transition */
    overflow: auto;
}

.hidden-queue-page {
    position: fixed; /*Use fixed positioning for the sliding effect*/
    top: 0;
    right: -100%;
    width: 90%;
    height: calc(100vh - 40px);
    display: hidden;
    background-color: lightblue; /* Set the background color of the new page */
    transition: right 0.5s; /* Apply a smooth transition */
    overflow-y: scroll;
}

.song-content{

    display: flex;
    flex-flow: column nowrap;

}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.song:hover {
    background-color: lightgray;
}

.song img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.song-type {

    padding: 20px;

}

.footer {
    position: fixed;
    left: 10%;
    bottom: 0;
    background-color: darkgray;
    height: 40px; /* Keep the fixed height for the music bar */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    transition: bottom 0.5s; /* Apply a smooth transition */
}

.queue_icon {
    height: 16px;
    width: 16px;
}

.suggestion-bar {

    padding: 0 6px;
    margin: 0;
    top: 0;
    right: 0;
    flex: 0 0 0.5%;
    background-color: black;
    height: calc(100vh - 40px);
    position: fixed;
    transition: top 0.5s, left 0.5s, right 0.5s;
    z-index: 999;

}

.suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestion:hover {
    cursor: pointer;
    background-color: lightgray;
}

.suggestion img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.hidden-queue-page {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: calc(100vh - 40px);
    background-color: lightblue;
    transition: right 0.5s;
    overflow-y: scroll; /* Enable vertical scrolling if needed */
}

.queue-content {
    display: flex;
    flex-direction: column-reverse; /* Stack suggestions from the bottom */
    align-items: center;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s;
    max-height: 100%; /* Allow the queue to take up all available height */
    overflow-y: scroll; /* Hide overflow when suggestions surpass the top of the screen */
}

.suggest-to-queue-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggest-to-queue-button:hover {
    background-color: #0056b3;
}

.playback-queue-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playback-queue-element:hover {
    cursor: pointer;
    background-color: lightgray;
}

.playback-queue-element img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}