@import url('fonts.css');

body{

    font-family: Optika;
    min-height: calc(100vh - 50px); 
    min-width: calc(100vw - 50px);
    margin: 10px;
    padding: 0;
    display: flex;
    background-color: #000;
    flex-flow: row nowrap;

}

.sidebar{
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(100vh - 20px);
    width: calc(20vw - 10px );
    background: linear-gradient(to top right, rgba(18,18,18,255), rgba(32,32,32,255));
    border-radius: 10px;
}

.groups{
    gap: 0;
    display: flex;
    flex-flow: row wrap;
    width: calc(80vw - 10px);
    background: linear-gradient(to top right, rgba(18,18,18,255), rgba(32,32,32,255));
    margin-left: 10px;
    border-radius: 10px;
}

.groups > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 10vw;
    height: 10vw;
    background-color:rgba(48,48,48,255);
    border-radius: 15px;
    margin: 15px;
    transition: all 400ms ease-in-out;
}

.groups > a:hover{ background-color: rgba(64,64,64,255); }

.sidebar > div {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #FFF; 
    background-color:rgba(48,48,48,255);
    border-radius: 10px;
    width: calc(100% - 20px);
    height: 4rem;
    transition: all 400ms ease-in-out;
}

.sidebar > div:hover{ cursor: pointer; background-color: rgba(64,64,64,255); }

.create-group, .join-group{
    opacity: 0;
    right: 0;
    position: fixed;
    display: none;
    flex-flow: column wrap;
    width: calc(80vw - 20px);
    height: calc(100vh - 20px);
    background: linear-gradient(to top right, rgba(18,18,18,255), rgba(32,32,32,255));
    margin-left: 10px;
    border-radius: 10px;
    transition: opacity 300ms ease-in-out;
    align-content: center;
    justify-content: center;
}

.left-arrow{ font-size: 2rem; top: 0; left: 0; color: #FFF; }
.left-arrow:hover{ cursor: pointer; }

input{ 
    border: none;
    color: rgba(97,97,97,255); 
    background-color: rgba(41,41,41,255); 
    border-radius: 10px;
    width: 30vw;
    height: 3rem;
    margin-bottom: 20px;
    text-indent: 10px;
    font-size: 1.2rem;
}

input::placeholder{ text-indent: 10px; font-size: 1.2rem; color: rgba(97,97,97,255); }

.submit-group, .submit-join{
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(28,215,96,255);
    text-decoration: none;
    color: #FFF;
    padding: 2vh 3vw;
    margin-bottom: 4vh;
    border-radius: 10px;
    transition: background-color 300ms ease-in-out;
    text-align: center;
}

.submit-group:hover, .submit-join:hover{ cursor: pointer; background-color: rgba(30,180,60,255); }